/*header {
    height: 50px;
    background-color: rgb(188, 241, 239);
}*/

body {
    background-color: #3F72AF;
    
}
.wrapper {
   
}
#contentDisplay {
    background-color:#3F72AF;
    font-family: "Arial Black", Gadget, sans-serif;
   

    /* min-height: 100%; */
}

.title {
    text-align: center;
   margin-top: 200px;
   color: white;
}

#startButton {
 
    float: right;

}


   
.jumbotron{
    margin-left: 100px;
    margin-right: 50px;
}


#question {
    text-align: center;
}




#footer {
   
    height: 50px;
    /* clear: both; */
    position: relative;
    bottom: 0;
}