img {
    height: 200px;
    width: 347px;
}
body{
    background-image: url('https://simplefreethemes.com/wp-content/uploads/2017/04/Beautiful-Norway.jpg');
    background-size: cover;
}

#background{
    background-image: url("https://i.pinimg.com/originals/e0/37/53/e037535c4cf155cfdd1e5f4bc93d3b7f.jpg");
    background-size: cover;
}
