body{
    background-image: url('https://simplefreethemes.com/wp-content/uploads/2017/04/Beautiful-Norway.jpg');
    background-size: cover;
}
img {
    width: 1100px;
    height: 625px;
}

.startButton{
    position: absolute; right: 480px; bottom: 55px; 
}

h2 {
    text-align: center;
    color: white;
    position: absolute; right: 50px; bottom: 40px;
 
}
h5 {
    color: white;
}
p{
    color: white;
}


/* Styling for the quiz page
/* ---------------------------------------- */
#quizContainer {
    min-width: 75vw;
}

#startButton {
    min-width: 10vw;
}
/* ---------------------------------------- */