body{
    background-image: url('https://simplefreethemes.com/wp-content/uploads/2017/04/Beautiful-Norway.jpg');
    background-size: cover;
}
img {
    width: 1100px;
    height: 625px;
}

/* Styling for the quiz page
/* ---------------------------------------- */
#quizContainer {
    min-width: 75vw;
}

#startButton {
    min-width: 10vw;
}

#qImg {
margin: auto;
min-width: 70vw;

}

.choice {
    font-size: 20px;
    background-color: #4040a1;
    color: white;    
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
}

.choice:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#start {
    background-color: #4040a1;
}
/* ---------------------------------------- */
